extends layout

block content
  img(src="/images/green-beanify-logo.png", alt="GreenBeanify logo")
  p Select your appliance to view details
  #applianceType
    a(href="/laundry",title="Laundry")
      img(src="/images/washer_dryer.png", alt="Washer/Dryer", style="float:left")
    a(href="/dishwasher",title="Dishwasher")
      img(src="/images/dishwasher.png", alt="Dishwasher", style="float:left")
    a(href="/range",title="Range")
      img(src="/images/ranges.png", alt="Range", style="float:left")
    a(href="/refrigerator",title="Refrigerator")
      img(src="/images/refrigerator.png", alt="Refrigerator", style="float:left")

