body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #219B4D;
  background-image: url("/images/logo_bg_lg.png");
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#applianceType {
	margin:0 0 30px 0;
}

#applianceType img {
	height: 232px;
	width: 232px;
	border-radius: 116px;
	margin: 20px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
	float: left;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#functionList {
	margin:0 0 30px 0;
}
	#functionList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
		opacity:0.75;
		width: 100%;
		box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.75);  
	}
		#functionList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#functionList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#functionList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:left;
			}

#functionInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#functionInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}
